@media screen {
    * { margin: 0; padding: 0; }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    }

    ul, ol { list-style: none; }
    
    article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
    
    .group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    .group { display: inline-block; clear: both; }
    /* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */
    
    body { font: 12px/2 "Helvetica Neue", Helvetica,Arial,sans-serif; }
    
    /* TYPOGRAPHY */
    h1, h2, h3, h4, h5 {}
    a img { border: 0; }
    a { color: #ce9702; text-decoration: none; }
    .zoomer:active { top: 0; }
    
    body {
        font: 13px Helvetica, Arial;
    }

    #page {
        margin: 0px 1000px 0px;
    }

    form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }
    form #button {
        color:#FFF;
        background: #2D9F0B;
        border: none;
        padding: 10px;
        width: 9%;
    }
    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #notifyUser {
        position: fixed;
        bottom: 42px;
        width: 100%;
    }
}