<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<title>JACK</title>
		<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	</head>
	<body>
		<div id="page-wrap">
			<div class="nd">
				<div id="header">
					<div>
						<img src="../public/img/layer1.png" alt="layer1" />
					</div>
					<div>
						<ul>
							<li><a href="#"><span>HOME</span></a></li>
							<li><a href="#">ABOUT</a></li>
							<li><a href="#">WORK</a></li>
							<li><a href="#">CONTACT</a></li>
						</ul>
					</div>
					<div>
						<h1>Made by Jack</h1>
					</div>
				</div><!--end header-->
			</div>
			<div id="main">
				<div class="nd2">
					<p class="text1">I'm a designer from the United Kingdom. <span><b>Get in touch today!</b></span></p>
				</div>
				<div class="nd">
					<div class="group1">
						<div class="mgr">
							<h1>MediaGroup</h1>
							<a href="www.mediagroup.com">www.mediagroup.com</a>
							<p class="text7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p class="text7">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
							<p class="text7">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
							<p class="text7">dolore. Excepteur sint occaecat cupidatat non proident.</p>
							<div class="btleft">
								<p>Visit site</p>
							</div>
							<div class="btright">
								<p>More info</p>
							</div>
						</div><!--end mgr-->
					</div><!--end group1-->
					<div class="qleft">
						<p>Looking for a fresh new website design?</p>
					</div>

					<div class="asright">
						<p>I provide awesome website design packages starting from as low as <span>$199!</span></p>
					</div>
				</div>
			</div><!--end main-->
			<div id="feature">
				<div class="nd">
					<ul>
						<li class="pict">
							<img src="../public/img/feature/pict.png" alt="picture" />
							<h3>Beautiful Design</h3>
							<p class="text8">Lorem ipsum dolor sit amet, consectetur</p>
							<p class="text9"> adipiscing elit. Aenean sit amet nibh ac</p>
							<p class="text10">dul rhoncus pretium. Cras quis dolor id</p>
							<p class="text11">urna lobortis fermentum.</p>
						</li>
						<li class="camera">
							<img src="../public/img/feature/camera.png" alt="camera" />
							<h3>Built to Perfection</h3>
							<p class="text8">Lorem ipsum dolor sit amet, consectetur</p>
							<p class="text9"> adipiscing elit. Aenean sit amet nibh ac</p>
							<p class="text10">dul rhoncus pretium. Cras quis dolor id</p>
							<p class="text11">urna lobortis fermentum.</p>
						</li>
						<li class="heart">
							<img src="../public/img/feature/heart.png" alt="heart" />
							<h3>Satisfaction Guaranteed</h3>
							<p class="text8">Lorem ipsum dolor sit amet, consectetur</p>
							<p class="text9"> adipiscing elit. Aenean sit amet nibh ac</p>
							<p class="text10">dul rhoncus pretium. Cras quis dolor id</p>
							<p class="text11">urna lobortis fermentum.</p>
						</li>
					</ul>
				</div>
			</div><!--end feature-->
			<div id="project">
				<div class="nd3">
					<h1>Latest Projects</h1>
				</div>
				<div class="nd">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<ul>
						<li class="project1"><img src="../public/img/project/layer5.png" alt="project1" /></li>
						<li class="project2"><img src="../public/img/project/layer6.png" alt="project2" /></li>
						<li class="project3"><img src="../public/img/project/layer7.png" alt="project3" /></li>
					</ul>
				</div>
			</div><!--end project-->
			<div id="testimonials">
				<h1>Client Testimonials</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<div class="nd">
					<ul>
						<li class="testi1">
							<img src="../public/img/layer8.png" alt="Ảnh đại diện" />
							<p class="text2">"Vivamus varius imperdiet</p>
							<p class="text2">mollis. Praesent gravida</p>
							<p class="text2">sollicitudin odio, vel</p>
							<p class="text2">condimentum"</p>
							<h4>Bill Gates</h4>
							<p class="text3">www.google.com</p>
						</li>
						<li class="testi2">
							<img src="../public/img/layer8.png" alt="Ảnh đại diện" />
							<p class="text2">"Vivamus varius imperdiet</p>
							<p class="text2">mollis. Praesent gravida</p>
							<p class="text2">sollicitudin odio, vel</p>
							<p class="text2">condimentum"</p>
							<h4>Bill Gates</h4>
							<p class="text3">www.google.com</p>
						</li>
						<li class="testi3">
							<img src="../public/img/layer8.png" alt="Ảnh đại diện" />
							<p class="text2">"Vivamus varius imperdiet</p>
							<p class="text2">mollis. Praesent gravida</p>
							<p class="text2">sollicitudin odio, vel</p>
							<p class="text2">condimentum"</p>
							<h4>Bill Gates</h4>
							<p class="text3">www.google.com</p>
						</li>
					</ul>
				</div>
			</div><!--end testimonials-->
			<div id="footer">
				<div class="nd">
					<div>
						<img src="../public/img/layer1.png" alt="layer1" />
					</div>
					<div>
						<ul>
							<li><a href="#"><span>HOME</span></a></li>
							<li><a href="#">ABOUT</a></li>
							<li><a href="#">WORK</a></li>
							<li><a href="#">CONTACT</a></li>
						</ul>
					</div>
					<div>
						<p>Copyright Made by Jack 2014. All rights reserved.</p>
					</div>
				</div>
			</div><!--end footer-->
		</div><!--end page-wrap-->
	</body>
</html>