<html>
    <head>
        <title>This is home</title>
        <link rel="stylesheet" href='../public/css/stylesheet.css'>
    </head>
    <body>
        <h1>This is Home</h1>
        <div class="demo">
            <p>Demo</p>
        </div>
        <a href="/">Go Back</a>
    </body>
</html>