<html>
    <head>
        <title>Acount</title>
        <link rel="stylesheet" href="../public/css/style.css"/>
    </head>
    <body>
        <h1>This is Acount</h1>
        <a href="/home/account/user">USER</a>
        <a href="/home">Go back Home</a>
    </body>
</html>