<html>
    <head>
        <title>Lỗi 400</title>
        <link rel="stylesheet" href='../public/css/stylesheet.css'>
    </head>
    <body>
        <h1>400 - Bad Request</h1>
        <p>Dữ liệu gửi lên máy chủ không hợp lệ</p>
    </body>
</html>