<html>
        <head>
            <title>Lỗi 500</title>
            <link rel="stylesheet" href='../public/css/stylesheet.css'>
        </head>
        <body>
            <h1>400 - Internal Server Error</h1>
            <p>Lỗi hệ thống</p>
        </body>
</html>