<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TruyệnLL</title>
		<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	</head>
	<body>
		<div id="page-wrap">
			<div class="inner">
				<div id="header">					
					<div id="logo">
						<a href="#">Truyện CDCN</a>
					</div><!--end logo-->
					<div id="menu">
						<ul>
							<li>Danh sách</li>
							<li>Đăng nhập</li>
						</ul>
					</div><!--end menu-->
		<div id ="main-content">
			<div id="read-title">
				<p>
					<a href="#"> Ten Truyen</a>
                </p>
                <hr class="chapter-end">
			</div>
			<div id ="viewer">
				........................
            </div>
                <hr class="chapter-end">
		</div>