<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
    <!-- jQuery library (served from Google) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<!-- bxSlider Javascript file -->
	<script src="bxslider/dist/jquery.bxslider.min.js"></script>
	<!-- bxSlider CSS file -->
	<link href="bxslider/dist/jquery.bxslider.css" rel="stylesheet" />
	<title>Bán Xe Oto</title>
</head>
<body>
<div id="header">
	<div class="inner">
		<h1><a href="#"><img src="img/logo.png"><p>Camry<span> Huế</a></span></p></h1>
		<div class="menu">
			<ul>
				<li><a href="index.html">trang chủ</a></li>
				<li><a href="gioithieu.html">giới thiệu</a></li>
				<li class="hover"><a href="#">sản phẩm</a>
                 <ul class="submenu">
                    <li><a href="#"><img src="img/1.png"> camry</a></li>
                 	<li><a href="#"><img src="img/2.jpg"> fortuner</a></li>
                 	<li><a href="#"><img src="img/3.jpg"> innova</a></li>
                 	<li><a href="#"><img src="img/4.png"> Huyndai</a></li>
                 </ul>
				</li>
				<li class="hover2"><a href="#">dịch vụ</a>
				<ul class="submenu2">
					<li><a href="#">bảo hành</a></li>
					<li><a href="#">phụ kiện chính hãng</a></li>
				</ul>
				</li>
				<li><a href="lienhe.html">liên hệ</a></li>
			</ul>
		</div>
	</div>
</div>
<!--header-->
<div class="banner">
	<ul class="bxslider">
 			<li>
 				<img src="img/5.jpg">
 			</li>
 			<li>
 				<img src="img/6.jpg">
 			</li>
 			<li>
 				<img src="img/7.jpg">
 			</li>
 			<li>
 				<img src="img/8.jpg">
 			</li>
 		</ul>
 		<script>
		$('.bxslider').bxSlider({
		auto: true,
		pager:false,
		});
		</script>
</div>

<div class="content1">
<marquee bgcolor="#86fff3" height="50px" color="#fff"><p class="marque">Công ty chúng tôi rất hân hạnh được phục vụ quý khách, cám ơn quý khách đã tin tưởng và sử dụng dịch vụ của chúng tôi :)</p></marquee>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FXe-%C4%90%E1%BA%B9p-1915472722055259&layout=button_count&size=large&mobile_iframe=true&width=93&height=28&appId" width="93" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
 <div class="inner">
	<div class="ct-left">
		<p>danh mục sản phẩm</p>
		<p><a href="#">camry</a></p>
		<p><a href="#">fortuner</a></p>
		<p><a href="#">innova</a></p>
		<p><a href="#">huyndai</a>
		<p class="title">Hỗ trợ trực tuyến</p>
		<p class="img"><img src="img/17.png"></p>
	</div>
	<!--vị trí sửa code-->
	<div class="ct-right">
		<p class="text-left" >Liên Hệ</p>
		<div class="logo-right"><img src="img/logo.png"></div>
	  <div class="lienhe">
	  <form>
	  	<p class="title">Công Ty MNTH Huế</p>
	  	<p class="text">Họ Và Tên<br />
	  	<input type="text" name="name">
	  	</p>
	  	<p class="text">Email<br />
        <input type="email" name="email">
	  	</p>
	  	<p class="text">Số Điện Thoại<br /><input type="text" name="phone"></p>
	  	<p class="text">Nội Dung<br /><textarea></textarea></p>
	  	<p><input class="submit" type="submit" name="submit" value="Liên Hệ"></p>
	  	</form>
	  </div>
	  <p class="map">
	  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.3642045883876!2d107.58588531495246!3d16.457085988642262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a147bb74beef%3A0xc865fd97efd7c714!2zNzAgTmd1eeG7hW4gSHXhu4csIFbEqW5oIE5pbmgsIFRwLiBIdeG6vywgVGjhu6thIFRoacOqbiBIdeG6vywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1492503506690" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	  </p>
	</div>
	<!--vị trí sửa code-->
</div>
</div>
<!--content1-->
<div class="content2">
<div class="inner">
	<p class="text">DÒNG XE TIÊU BIỂU</p>
	<ul class="bxslider">
		<li>
			<p class="img"><img src="img/9.jpg"></p>
			<p>Corolla Altis 2.0V</p>
		</li>
		<li>
			<p class="img"><img src="img/10.jpg"></p>
			<p>Corolla Altis 2.0V</p>
		</li>
		<li>
			<p class="img"><img src="img/11.png"></p>
			<p>Corolla Altis 2.0V</p>
		</li>
		<li>
			<p class="img"><img src="img/12.png"></p>
			<p>Corolla Altis 2.0V</p>
		</li>
		<li>
			<p class="img"><img src="img/13.png"></p>
			<p>Corolla Altis 2.0V</p>
		</li>
	</ul>
	<script>
		$('.bxslider').bxSlider({
			auto: true,
			minSlides: 4,
			maxSlides: 4,
			moveSlides: 1,
			slideWidth: 300,
			slideMargin:30
					});
	</script>
	</div>
</div>
<!--content2-->
<div class="footer1">
	<div class="inner">
		<div class="footer-left">
			<p class="title">Công ty MNTH Huế</p>
			<p>Địa chỉ:    70 Nguyễn Huệ</p>
			<p>Liên Hệ:    Trần VĂn Minh</p>
			<p>Di động:    01684277409</p>
			<p>Email:      Paultranvanminh@gmail.com</p>
			<p>Websites:<a href="camryhue.azurewebsites.net">    camryhue.azurewebsites.net</a></p>
		</div>
		<div class="footer-right">
			<ul class="menu">
				<li><a href="index.html">Trang Chủ</a></li>
				<li><a href="gioithieu.html">Giới Thiệu</a></li>
				<li><a href="#">sản phẩm</a></li>
				<li><a href="#">Dịch Vụ</a></li>
				<li><a href="lienhe.html">Liên Hệ</a></li>
			</ul>
			<ul class="socical">
			    <li><a href="#"><img src="img/sc1.png"></a></li>
			    <li><a href="#"><img src="img/sc2.png"></a></li>
			    <li><a href="#"><img src="img/sc3.png"></a></li>
			    <li><a href="#"><img src="img/sc4.png"></a></li>
			</ul>
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.3642045883876!2d107.58588531495246!3d16.457085988642262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a147bb74beef%3A0xc865fd97efd7c714!2zNzAgTmd1eeG7hW4gSHXhu4csIFbEqW5oIE5pbmgsIFRwLiBIdeG6vywgVGjhu6thIFRoacOqbiBIdeG6vywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1492503506690" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="footer2">
	<div class="inner">
		<p>©2017 Công Ty MNTH Huế®</p>
	</div>
</div>
</body>
</html>