<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Insert</title>
		<link rel="stylesheet" type="text/css" href="../public/css/add.css">
		<link rel="shortcut icon" type="image/x-icon" href="../public/image/classbook.png">
	</head>
	<body>
		<div id="inner">
            <div id="logo">
                <h1><a href="/"><img src="../public/image/classbook.png" />Truyện CĐCN</a></h1>
            </div><!--end logo-->
			<div id="td">
				<h1>Insert Story</h1>
			</div>

			<form action="" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
				<p class="ip">ID: <input id="ip4" type="text" name="txtID" placeholder="ID" /></p> <br />
				<p class="ip">Name Story: <input id="ip2" type="text" name="txtName" placeholder="Name Story" /></p> <br />
				<p class="ip">Name Link: <input id="ip3" type="text" name="txtNameLink" placeholder="name-link" /></p> <br />
				<p class="ip">Name Author: <input type="text" name="txtAuthor" placeholder="Name Author" /></p> <br />
				<p class="content">
					<textarea rows="30" cols="70" name="txtContent" placeholder="Content"></textarea>
				</p>
				<input id="is" type="submit" name="btnInsert" value="Insert" />
			</form>

			<footer id="footer">
			    <p>Coded by:</p>
			    <ul>
			        <li>Văn Lanh</li>
			        <li>Đình Thành</li>
			        <li>Bình Minh</li>
			        <li>Công Luận</li>
			        <li>Bão Quang</li>
			    </ul>
			</footer><!--end footer-->
        </div><!--end inner-->
	</body>
</html>