
<footer id="footer">
    <p>Coded by:</p>
    <ul>
        <li>Văn Lanh</li>
        <li>Đình Thành</li>
        <li>Bình Minh</li>
        <li>Công Luận</li>
        <li>Bão Quang</li>
    </ul>
</footer>