<div id="header">
    <div class="header-width">
        <div class="logo">
            <h1><a href="/"><img src="../public/image/classbook.png">Truyện CĐCN</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="../login" >Login</a></li>
                <li><a href="../register" >Register</a></li>
                <li><a href="../manager">Manager</a></li>
            </ul>
        </div>
    </div>
</div>