<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>REGISTER</title>
		<link rel="stylesheet" type="text/css" href="../public/css/login.css">
		<link rel="shortcut icon" type="image/x-icon" href="../public/image/classbook.png">
	</head>
	<body>
		<div id="inner">
			<div id="logo">
                <h1><a href="/"><img src="../public/image/classbook.png" />Truyện CĐCN</a></h1>
            </div><!--end logo-->
			<div id="td">
				<h1>Register</h1>
			</div>

			<form action="" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
				<p class="ip">Username: <input id="ip4" type="text" name="txtUsername" placeholder="Username" /></p> <br />
				<p class="ip">Password: <input id="ip2" type="text" name="txtPassword" placeholder="Password" /></p> <br />
				<p class="ip">RePassword: <input id="ip3" type="text" name="txtPassword" placeholder="RePassword" /></p> <br />
				<p class="ip">Mail: <input id="ip5" type="mail" name="txtMail" placeholder="Mail" /></p> <br />
				<p class="ip">Birth Day: <input id="ip6" type="day" name="txtBirthDay" placeholder="Birth Day" /></p> <br />
				<input id="login" type="submit" name="btnRegister" value="Register" />
			</form>

			<footer id="footer">
			    <p>Coded by:</p>
			    <ul>
			        <li>Văn Lanh</li>
			        <li>Đình Thành</li>
			        <li>Bình Minh</li>
			        <li>Công Luận</li>
			        <li>Bão Quang</li>
			    </ul>
			</footer><!--end footer-->
		</div><!--end inner-->
	</body>
</html>