<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../public/css/style.css"/>
    </head>
    <body>
        <h1>This is Home</h1>
        <a href="/home/account">Go to Account</a>
        <a href="/">Go back Index</a>
        <img src="../public/img/17.jpg" alt="17"/>
    </body>
</html>