<html>
    <head>
        <title>User</title>
        <link rel="stylesheet" href="../public/css/style.css"/>
    </head>
    <body>
        <h1>Trần Văn Lanh</h1>
        <p>Trường: Cao Đẳng Công Nghiệp Huế</p>
        <a href="/home/account">Go back Account</a>
        <a href="/">Go back Index</a>
    </body>
</html>