<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TruyệnLL</title>
		<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	</head>
	<body>
		<div id="page-wrap">
			<div class="inner">
				<div id="header">					
					<div id="logo">
						<a href="#">Truyện CDCN</a>
					</div><!--end logo-->
					<div id="menu">
						<ul>
							<li>Danh sách</li>
							<li>Đăng nhập</li>
						</ul>
					</div><!--end menu-->
		<div id= "main-content">
			<div id = "info-box">
				<div class = "anh-truyen">
					<img width="200" src="#" itemprop="image">
				</div><!--anh-truyen-->
				<div>
					<h1 itemprop="name">Ten Truyen</h1>
					<div>
						<p class ="misc-infor">Tên khác:</p>
						<p class="misc-infor">
							"Tác Giả:..........
							"</p>
						<p class="misc-infor">
							"Thể loại:.........
							"</p>
						<p class="misc-infor">
							"Chương mới nhất:..........
                            "</p>
                            <br>
                            <br>
                            <div id="truyen-summary">
                            	<p>.............................</p>
                            	<br>
                            </div><!--truyen-summary-->
                        <p class="read-truyen">
                        	<a href="#">Đọc Truyện</a>
					</div>
			</div><!--info-box-->
			
		</div>