#inner h1{
	text-align: center;
	color: white;
}

#header .header-width .logo h1{
	text-align: left;
}

#nd{
	margin: 90px 0px;
	border: 1px;
}

#nd p{
	font-family: "Palatino Linotype","Arial","Times New Roman",sans-serif;
	font-size: 20px;
	line-height: 190%;
	color: #ffffff;
	width: 100%;
	margin: 30px 0px;
}

#nd p br{
	margin-bottom: 50px;
}

#footer h1{
	font-size: 30px;
	color: white;
	margin: 10px 0px;
	text-align: center;
}