<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>UPLOAD</title>
        <link rel="shortcut icon" type="image/x-icon" href="upload-cloud.png" />
    </head>
    <body>
        <center>
    	    <h1>Upload File</h1>
    	
    		<form action="/upload" method="Post" enctype="multipart/form-data">
	    		<input type="file" name="file" />
	    		<input type="submit" value="Upload" />
	    	</form></br>

	    	<h1>Download File</h1>

	    	<form action="/upload" method="Post" enctype="multipart/form-data">
	    		<input type="file" name="file" />
	    		<input type="submit" value="Download" />
	    	</form>
    	</center>
        
    </body>
</html>